<ion-header>
  <ion-toolbar>
    <ion-title>RUTA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="18" style="width: 100%; height: 100%;">
    <agm-direction [origin]="origin" [destination]="destination">
    </agm-direction>
  </agm-map>
</ion-content>
