<ion-header>
  <ion-toolbar>
    <ion-title>Buscador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input [(ngModel)]="orderNumber" placeholder="Coloque el numero de orden"></ion-input>
  <ion-button expand="block" (click)="getOrder()" color="primary">Buscar</ion-button>
  <div *ngIf="orderData">
    <p>RESTAURANTE: {{orderData.restaurant}}</p> 
    <p>FECHA: {{orderData.created}}</p>
    <p>restaurantPosition: {{orderData.restaurant_long_lat}}</p>
    <p>userPosition: {{orderData.user_long_lat}}</p>
    <ion-title>DETALLES</ion-title>
    <div *ngFor="let item of orderData.items">
      <p>{{item.title}}</p>
      <p>{{item.quantity}}</p>
      <p>{{item.total_price__number}}</p>
      <p>----------------------------</p>
    </div>
    <ion-button expand="block" (click)="openMap()" color="primary">VER EN MAPA</ion-button>
  </div>
  

</ion-content>
